body{
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
}

button{
    font-size: 25px;
    background: #FFF;
    border: 1px solid #DDD;
}

button.active{
    background: #CCC;
    border: 1px solid #999;
}

.toolbar{
    height: 35px;
    padding: 10px;
}
